---
interface Props {
  bg?: "white" | "black" | "red" | "blue" | "green";
  text?: "white" | "black";
  reversed?: boolean;
  image?: string; // valgfrit hvis du bare vil vise et <img>
  imageAlt?: string;
  imageMaxH?: string;
  imageAlign?: "start" | "center" | "end"; // NY prop
}

const {
  bg = "blue",
  text = "black",
  reversed = false,
  image,
  imageAlt = "",
  imageMaxH = "max-h-[790px]",
  imageAlign = "end", // default = end
} = Astro.props;

const bgClass = {
  white: "bg-white",
  black: "bg-black",
  red: "bg-red",
  blue: "bg-blue",
  green: "bg-green",
}[bg];

const textClass = {
  white: "text-white",
  black: "text-black",
}[text];

const alignClass = {
  start: "justify-start",
  center: "justify-center",
  end: "justify-end",
}[imageAlign];
---

<div
  class={`${bgClass} ${textClass} grid grid-cols-1 md:grid-cols-2 p-10 gap-8`}
>
  <!-- Tekst -->
  <div
    class={`flex flex-col justify-center space-y-6 max-w-lg 
    ${reversed ? "md:order-2 md:mx-auto md:pl-4" : "md:mx-auto md:pl-4"}`}
  >
    <slot />
  </div>

  <!-- Billede-slot -->
  <div
    class={`flex items-center ${alignClass} ${reversed ? "md:order-1" : ""}`}
  >
    <slot name="image">
      {
        image && (
          <img
            src={image}
            alt={imageAlt}
            class={`w-auto object-contain ${imageMaxH}`}
          />
        )
      }
    </slot>
  </div>
</div>
