---
import Button from "../Button.astro";

type Color = "white" | "black" | "red" | "blue" | "green";
type Text = "white" | "black";

interface Props {
  title: string;
  paragraphs: string[];
  button?: {
    variant: "primary" | "secondary" | "tertiary";
    href: string;
    label: string;
  };
  image: string;
  bg?: Color;
  text?: Text;
  reversed?: boolean;
  imageMaxH?: string;
}

const {
  title,
  paragraphs,
  button,
  image,
  bg = "white",
  text = "black",
  reversed = false,
  imageMaxH = "max-h-[790px]",
} = Astro.props as Props;

const bgClass = {
  white: "bg-white",
  black: "bg-black",
  red: "bg-red",
  blue: "bg-blue",
  green: "bg-green",
}[bg];

const textClass = {
  white: "text-white",
  black: "text-black",
}[text];
---

<section
  class={`${bgClass} ${textClass} grid grid-cols-1 md:grid-cols-2 p-10 gap-8`}
>
  <!-- Tekst -->
  <div
    class={`flex flex-col justify-center space-y-6 max-w-lg ${reversed ? "md:order-2 md:mx-auto md:pl-4" : "md:mx-auto md:pl-4"}`}
  >
    <h2>{title}</h2>

    {paragraphs.map((p) => <p>{p}</p>)}

    {
      button && (
        <Button
          variant={button.variant}
          href={button.href}
          label={button.label}
        />
      )
    }
  </div>

  <!-- Billede -->
  <div
    class={`flex items-center ${reversed ? "justify-start md:justify-end md:order-1" : "justify-start md:justify-end"}`}
  >
    <img src={image} alt={title} class={`w-auto object-contain ${imageMaxH}`} />
  </div>
</section>
